.details-heading{
    font-size: 60px;
    background-color: rgba(133, 190, 42, 0.623);
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(104, 6, 6, 0.5);
    border-radius: 10px;
    padding: 5px 30px;
    max-width: fit-content;
    margin: 20px auto 0px auto;
}
.restaurant-details-cointainer{
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant-details-cointainer > img{
    max-width: 800px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 15px;
}
.restaurant-details-cointainer h1{
    font-size: 40px;
    text-shadow: 0px 3px 3px rgba(104, 6, 6, 0.5);

}
.restaurant-details-description{
    font-size: 25px;
}
.restaurant-details-cointainer p{
    font-size: 20px;
}
.restaurant-details-name{
    border-bottom: 0.5px solid rgba(133, 190, 42, 0.623);
}
.rated-by{
    border-bottom: 0.5px solid rgba(133, 190, 42, 0.623);
    width: 200px;
    padding: 15px;
    margin: 10px auto;
}
.google-api-sample-pic{
    max-width: 400px;   
}
.details-buttons{
    display: flex;
    justify-content: space-around;
}
.details-buttons button{
    margin: 5px;
}
.pros-and-cons-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.pros-and-cons-details p{
    margin: 3px;
    min-width: 250px;
    max-width: 250px;
    padding: 3px;
    background-color: rgba(133, 190, 42, 0.411);
}
.heading-and-text-pros-cons h3{
    border-bottom: 0.5px solid rgba(133, 190, 42, 0.623);
    padding-bottom: 5px;
    margin: 15px;
    font-size: 25px;
}