.all-restaurants-homepage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-top: 0px;
}
.all-restaurants-homepage img{
    max-width: 240px;
    max-height: 150px;
    padding: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.top-rated{
    font-size: 50px;
}
.card-user{
    box-shadow: -9px -5px 23px -7px #525050, 5px 5px 18px 5px rgba(237,255,48,0)
}
.site-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset -1px 2px 19px -4px rgba(0,0,0,0.75);
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #494949 !important;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.site-button:hover{
    color: #ffffff !important;
    background: rgba(255,215,0,0.7708217075892857);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}