.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgb(102, 151, 2);
}
.logo-left{
    max-width: 130px;
    /* filter: drop-shadow(0.4rem 0.4rem 1rem rgba(255, 255, 255, 0.8)); */
}