.all-rated-restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 50px;
}