.navigation{
display: flex;
}
.navigation .nav-link{
text-decoration: none;
color: #513C2C;
font-size: 35px;
margin-right: 25px;
}
.nav-link:hover{
color:#C9FA9E;
}
@media screen and (max-width: 600px){
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .navigation-guest{
        display: flex;
        margin-left: -40px;
        flex-direction: column;
    }
    .navigation-guest .nav-link{
        color:#513C2C;
        border-bottom: 3px solid rgba(0, 0, 0, 0.26);
        font-size: 26px;
    }
    .navigation-guest .nav-link:active{
        color:rgb(182, 233, 79);
    }
    .navigation .nav-link{
        color:#513C2C;
        border-bottom: 3px solid rgba(0, 0, 0, 0.26);
        font-size: 26px;
    }
    .navigation .nav-link:active{
        color:rgb(182, 233, 79);
    }
}
