@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html{
    box-sizing: border-box;
    margin: 0;
    background: url("https://pixabay.com/get/g5fe943370be69f5f8085504eb90a6980c98e608cff5a386350816bcca5223071820c2d134c170b1a8481543b4cd107a1_1920.jpg");
    background-size: contain;
}
body{
    max-width: 1200px;
    margin: 50px auto;
    min-height: 100vh;
    box-shadow: -2px 10px 60px -2px rgba(255,255,255,0.75);
    border-radius: 30px;
    font-family: 'Indie Flower', serif;
    color: rgb(167, 20, 20);
    text-shadow: 0px 2px 2px rgba(104, 6, 6, 0.5);
    text-align: center;
    background: rgb(255,215,0);
    background: linear-gradient(312deg, rgba(255,215,0,0.7708217075892857) 0%, rgba(255,255,0,0.7624183462447479) 54%, rgba(9,133,0,0.7960317916228992) 100%); 
}
/* .container{

} */
body a{
    text-decoration: none;
}
body a:visited{
    text-decoration: none;
}